.footer {
  background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
  padding: 60px 80px;
  color: #fff;
}

.footer__logo {
  height: 39px;
  width: 105px;
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__heading {
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 20px;
}

.footer__list {
  margin: 0%;
  padding: 0%;
}

.footer__list-item {
  margin: 0 0 16px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer__social-link {
  text-decoration: none;
  transition: 0.6s ease-in-out;
  color: #fff;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 108px 0 0;
}

.footer__list-item:last-of-type {
  margin-bottom: 0;
}

.footer__social-link:hover {
  color: #c1c1c1;
}
