.form {
  max-width: 385px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  gap: 12px;
  margin: 0;
}

.form__input {
  display: block;
  border: 1px solid #838383;
  border-radius: 4px;
  display: block;
  padding: 0%;
  height: 60px;
  margin-top: 8px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.form__button {
  width: 100%;
  height: 60px;
  padding: 0%;
  border: none;
  margin-bottom: 32px;
  width: 100%;
  border-radius: 0.25em;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  transition: 0.6s ease-in-out;
  color: #fff;
}

.form__button:hover {
  opacity: 0.7;
}
