.reservation {
  padding: 100px 0 120px;
  background-image: url("/images/background_reservation.svg");
  background-color: #d9e7ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reservation__title {
  margin: 0 0 80px;
  font-family: "Inter", Arial, sans-serif;
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.reservation__form {
  margin: 0% auto;
}

.form {
  max-width: 385px;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}

.form__label {
  margin-bottom: 32px;
  display: block;
  font-family: Inter;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  border-radius: 2px;
  gap: 12px;
}

.form__input {
  display: block;
  padding: 0%;
  height: 60px;
  margin-top: 8px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}

.form__button {
  width: 100%;
  height: 60px;
  padding: 0%;
  border: none;
  margin-bottom: 32px;
  width: 100%;
  border-radius: 0.25em;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background-color: #2f80ed;
  color: #fff;
}
